.App {
  font-family: sans-serif;
  text-align: center;
}
.title {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
  text-indent: 16px;
}
.btn {
  margin-left: auto;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.p {
  font-size: bold;
  margin-right: auto;
}
